body {
  background-color: #1b1d2c;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  
  padding-right: 32px;
  margin-bottom: 16px;
}

.header-container {
  width: 1080px;
  margin: auto;
  padding: 16px 0;
  color: #cfcfcf;
}

header nav,
header nav ul,
.section-paragraph {
  display: flex;
}

header nav,
.section-paragraph {
  justify-content: space-between;
  align-items: center;
}

header nav h1 {
  font-size: 32px;
}

header nav li {
  margin-left: 12px;
}

.main-img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.container {
  color: #cfcfcf;
}

.section-content {
  width: 1080px;
  margin: auto;
}

.container section:nth-child(even) {
  background-color: #262a3e;
}

section h2 {
  font-size: 24px;
  text-transform: uppercase;

  padding: 16px 0;
  text-align: center;
}

section p {
  font-size: 20px;
  margin-bottom: 16px;
}