body {
  background-color: #1b1d2c;
}

.header-container,
.container {
  max-width: 1080px;
  margin: auto;
}

/* *** Header *** */

.header-container,
.navigation-list {
  display: flex;
}

header nav {
  background-color: #1b1d2c;
  color: #cfcfcf;
}

.header-container {
  justify-content: space-between;
}

header img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 50%;
}

/* *** Main *** */

