body {
  background-color: #1b1d2c;
}

.header-container,
.container {
  max-width: 1080px;
  margin: auto;
}

.header-container,
.navigation-list {
  display: flex;
}

.header-container {
  margin: 16px;
}

header nav {
  background-color: #1b1d2c;
  color: #cfcfcf;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-size: 24px;
}

.navigation-list li {
  margin-right: 20px;
}
.navigation-list li:last-child {
  margin-right: 0px;
}

header img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.container {
  color: #cfcfcf;
}